@model DocCommander.Models.EmailConfirmationModel
<h2>Failed Login Attempt Alert !</h2>

<p>@Html.DisplayFor(x=>x.FirstName),</p>
<p>Someone has just tried to login to your account and failed.</p>
<p>If this was not you, please consider changing your site password</p>
<p>If you have forgotten your password, please use the link on the site Login page to change your password.</p>

<p>Thanks,</p>
<p>The Team.</p>
