@model DocCommander.Models.EmailPasswordResetModel

<h2>Confirm Account</h2>
<p>@Html.DisplayFor(x=>x.FirstName),</p>
<p>You or someone else has requested that the password associated with this account be changed.</p>
<p>If this was not you then you can ignore this email</p>
<p>Click <a href="@Model.SiteUrl@Url.Action("ChangePassword","Account",new{u=Model.UserName,t=Model.PasswordResetToken})">Here</a> to reset your password.</p>

<p>Thanks,</p>
<p>The Team.</p>
