
@{
    ViewBag.Title = "Request Change Password";
}

<h2>Request Change Password</h2>
<p>An email has been sent to the address you registered with. Please follow the instruction in this email to reset your password.</p>
